<div class="row">

  <form action="/admins/lucky_bags/search_lottery_list" method="post">
    <div class="input-group">

      <div class="row lottery-search">
        <div class="col-xs-6">
          <span class="lottery-search-span">分享日期:</span>
          <input type="date"  name="published_at"  class="form-control  lottery-search-input"  placeholder="分享日期">
        </div>

        <div class="col-xs-6">
          <span class="lottery-search-span">分享用户:</span>
          <input type="text"  name="user_name"  class="form-control lottery-search-input" placeholder="分享用户">

        </div>

        <div class="col-xs-6">
          <span class="lottery-search-span">福袋名称:</span>
          <input type="text"  name="product_name"  class="form-control lottery-search-input" placeholder="福袋名称">

        </div>

        <button class="btn btn-default lottery-search-button" type="submit" >查询</button>


      </div>


    </div>
  </form>


</div>