<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">福袋设置</h3>
  </div>
  <div class="panel-body">
    <div class="alert alert-danger" role="alert">手动文件配置，相关运维人员管理！</div>
    分享中奖信息  奖励：20000 + 钻石币  500
  </div>
</div>