<div class="gfc-box rule-page">
  <div class="rule-content">
    <div>
      <h3>什么是钻石币</h3>
      <p>钻石币是钻石大富翁的虚拟货币，用于在0元夺宝、商城参加商品抽奖</p>
    </div>
    <div>
      <h3>钻石币的4个不可和1个价值</h3>
      <p>不可提现，不可用现金充值，不可兑换虚拟资金，不可转赠他人，能用于抽奖消耗</p>
    </div>
    <div>
      <h3>如何赚钻石币</h3>
      <p>钻石大富翁模拟盘虚拟收益兑换，当可用资金大于20000时，多出的资金可以兑换为钻石币</p>
      <p>平台其他活动，邀请好友、竞赛排名、钻币礼包均有机会获得钻石币</p>
    </div>
  </div>
</div>
