<div class="gfc-box rule-page">
  <div class="rule-content">
    <div>
      <h3>钻石大富翁的羊毛</h3>
      <p>钻石大富翁是钻石投资模拟盘游戏，让机智的您轻松玩转钻石现货投资。同时，机智的您在模拟盘赚取的收益可兑换成钻石币用于“0元夺宝”，夺取1克拉钻石、iPhone 7还有奢侈品包包等潮品，品味您放心！能否机智如我就看您的了！</p>
      <p>有钱没有什么了不起，够聪明才行，不服来战！</p>
    </div>
    <div>
      <h3>钻空子</h3>
      <p>钻石大富翁模拟盘根据“湖南文交所”GIA钻石大盘数据同步，据程序猿测算每天都可以赚100-800的虚拟收益哦，兑换成钻石币在夺宝包个潮品坦坦地。</p>
      <p>当然也需要您的智慧参与哦，否则不会满大街的广告都会加一句“投资有风险”了，这里不需要您的钱，风险只是您智商的高低而已。</p>
    </div>
    <div>
      <h3>最刺激的朋友进贡玩法</h3>
      <p>用户可以邀请好友注册，建立自己的朋友圈排行</p>
      <p>每周六下午17:30，根据用户的周收益，进行朋友圈排行，朋友圈排行第一的用户将获得进贡，当周收益相同时邀请者和注册时间早者优先。</p>
      <p>进贡采取强制进贡机制！</p>
      <p>计算方式：进贡钻石币数量=[模拟盘总资产+钻石币-20000（本金）] ×5%，当模拟盘总资产+钻石币，<=20000（本金）时不进贡</p>
    </div>
    <div>
      <h3>钻石大富翁的玩法</h3>
      <p>钻石大富翁模拟盘的数据由湖南文交所钻石交易中心提供。湖南文交所（全称“湖南文化艺术品产权交易所”）是钻联科技合作的首个交易所。钻联科技与湖南文交所共同发起的湖南文交所钻石交易中心是国内首个全球价格联动的实物结算电子化钻石交易平台。</p>
    </div>
    <div>
      <h3>模拟盘交易时间</h3>
      <p>钻石大富翁模拟盘的交易时间段：每天上午7:00-下午23:00。</p>
      <p>非交易所交易时间段（湖南文交所钻石交易中心的交易时间，周一至周六，上午9:30-11:30,下午13:00-15:00）交易时，周一至周六7:00-9:30按照上一交易日收盘价进行交易，11:30-13:00按照11:30现价进行交易，15:00-23:00按照本交易日收盘价进行交易，23:00后委托挂单自动取消，周日按照周六的收盘价进行交易。</p>
    </div>
    <div>
      <h3>模拟盘成交规则</h3>
      <p>模拟盘交易方式为现价交易，以当前价格为准，没有撮合交易；</p>
      <p>买入方向：委托价大于或等于当前价格时立即成交，如小于当前价进行挂单处理；</p>
      <p>卖出方向：委托价小于或等于当前价格时立即成交，如大于当前价进行挂单处理；</p>
      <p>买入、卖出、做空、平仓等操作不设成交数量限制，当委托价格合适即产生成交。</p>
    </div>
    <div>
      <h3>交易手续费</h3>
      <p>模拟盘交易收费项与湖南文交所钻石交易中心相同，交易服务费按0.05%收取手续费，只针对卖出方向收取。（即只有卖出和做空时，会产生交易手续费）</p>
    </div>
    <div>
      <h3>引入做空机制</h3>
      <p>钻石大富翁模拟盘设置做空机制，做空与正常买入逻辑相反，是在行情下跌时，反向操作，赚取收益。</p>
        <span class="pic">
          <%=image_tag "h5/images/rule.jpg" %>
          <span class="Center-text"><span class="green-logo green-left">"</span>钻石大富翁模拟盘设置做空机制，做空与正常买入逻辑相反，是在行情下跌时，反向操作，赚取收益。<span class="green-logo green-right">"</span></span>
        </span>
      <p>做空单成交时，会根据成交价格收取0.05%的手续费，平仓时不收取手续费</p>
    </div>
    <div>
      <h3>钻石大富翁竞赛</h3>
      <p>发起者：钻石大富翁模拟盘竞赛由钻联科技有限公司（以下统称为发起者）所组织，钻联科技是中国首家实物钻石互联网金融引擎，创建于2016年，以革命性的钻石金融引擎为核心，以全球首创的“钻石矩阵”把纷繁复杂的钻石品种进行标准化，将钻石从传统的珠宝演变为独特的新兴资产类别——一种便携、具有全球市场公允价格、保值增值和极具流动性的资产。</p>
      <p>竞赛地点：本竞赛完全被组织并进行于因特网，所有可用网络之人士可参与。</p>
    </div>
    <div>
      <h3>如何加入竞赛</h3>
      <p>为了加入竞赛，用户需要注册钻石大富翁账户，注册即为同意参加竞赛排名，加入竞赛无需用户充值存入资金。</p>
      <p class="Center-text">竞赛排名结果会由发起者定期在网站上公布</p>
    </div>
    <div>
      <h3>收益和收益率排名</h3>
      <p>钻石大富翁竞赛有收益排名和收益率排名部分，分别包含日排名、周排名、月排名和总排名。</p>
      <p>日排名：每天下午17：30公布排名结果；</p>
      <p>周排名：每天下午17：30更新排名，每周六17：30公布排名结果；</p>
      <p>月排名：每天下午17：30更新排名，每月末17：30公布排名结果；</p>
      <p>总排名：每天下午17：30更新排名，每月末17：30公布排名结果；</p>
    </div>
    <div>
      <h3>参与协议</h3>
      <p class="Center-text">钻联科技有权在任何时间修订或终止本竞赛；</p>
      <p>如果因任何原因本竞赛无法继续根据原先安排而进行，不管是因篡改、未授权介入、欺诈、技术故障或任何其他的超出发起者控制的败坏或影响本竞赛的管理、安全性、公平性、诚实性或适当的进行的元素，发起者有权单方决定对任何篡改或乱动加入程序的人士撤销资格，或取消、终止、修订或停止本竞赛；</p>
      <p>活动解释权归钻联科技所有。</p>
    </div>
  </div>
</div>
