<div class="container">

  <div class="row">

    <div class="col-md-2">

      <div class="list-group">

        <a href="/admins/coin_bags" target="_self" class="list-group-item <%= menu_active1 %>">钻币礼包列表</a>

      </div>
    </div>


    <div class="col-md-10">
      <%= yield %>
    </div>


  </div>
</div>