<div class="container">

  <div class="row">

    <div class="col-md-2">

      <div class="list-group">
        <a href="/admins/share_configs" class="list-group-item <%= menu_active1 %> ">分享内容管理</a>
        <a href="/admins/chests" class="list-group-item <%= menu_active2 %> ">宝箱管理</a>
        <a href="/admins/settings" class="list-group-item <%= menu_active3 %> ">赔率相关设置</a>

      </div>

    </div>


    <div class="col-md-10">
      <%= yield %>
    </div>


  </div>
</div>
