<div class="gfc-box list-box">
  <ul class="header">
    <li>我的挂单</li>
    <li>交易记录</li>
  </ul>
  <div class="record">
    <p>2017-02-09 10:23</p>
    <div class="business">
      <ul>
        <li><span>商品品名</span><span>0.3JVS2V</span></li>
        <li><span>商品代码</span><span>403011</span></li>
        <li><span>价格</span><span>3,310.00</span></li>
        <li><span>数量</span><span>1</span></li>
        <li><span>收益</span><span>270.00</span></li>
        <li><span>状态</span><span class="gfc-sell">卖</span></li>
        <li><span>手续费</span><span>4.70</span></li>
      </ul>
    </div>
    <p>2017-02-09 10:23</p>
    <div class="business">
      <ul>
        <li><span>商品品名</span><span>0.3JVS2V</span></li>
        <li><span>商品代码</span><span>403011</span></li>
        <li><span>价格</span><span>3,310.00</span></li>
        <li><span>数量</span><span>1</span></li>
        <li><span>收益</span><span>270.00</span></li>
        <li><span>状态</span><span class="gfc-sell gfc-buy">买</span></li>
        <li><span>手续费</span><span>4.70</span></li>
      </ul>
    </div>
  </div>
  <div class="btn">
    <span>赚取真实收益</span>
  </div>
  <div class="footer">
    <ul>
      <li>
        <span></span>
        <span>首页</span>
      </li>
      <li>
        <span></span>
        <span>交易记录</span>
      </li>
      <li>
        <span></span>
        <span>竞赛</span>
      </li>
      <li>
        <span></span>
        <span>0元夺宝</span>
      </li>
    </ul>
  </div>
</div>
