<div class="container login-container">

  <form class="form-signin" action="/admins/sessions" method="post">
    <h2 class="form-signin-heading">登录</h2>
    <label for="inputPhone" class="sr-only">手机号</label>
    <input type="input" name="phone" class="form-control" placeholder="手机号" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password"  name="password" class="form-control" placeholder="密码" required>
    <!--<div class="checkbox">-->
      <!--<label>-->
        <!--<input type="checkbox" value="remember-me"> Remember me-->
      <!--</label>-->
    <!--</div>-->
    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
  </form>

</div>