<div class="row">

  <form action="/admins/ranking_config_wins/earning_record" method="post">
    <div class="input-group">

      <div class="row lottery-search">
        <div class="col-xs-6">
          <span class="lottery-search-span">领奖日期:</span>
          <input type="date" name="lottery_time" class="form-control  lottery-search-input" placeholder="发布日期">
        </div>

        <div class="col-xs-6">
          <span class="lottery-search-span">领奖用户:</span>
          <input type="text" name="user_name" class="form-control lottery-search-input" placeholder="领奖用户">

        </div>

        <div class="col-xs-6">
          <span class="lottery-search-span">奖品名称:</span>
          <input type="text" name="award_name" class="form-control lottery-search-input" placeholder="奖品名称">
        </div>


        <div class="col-xs-6">
          <span class="lottery-search-span">手机号&nbsp&nbsp&nbsp: </span>
          <input type="text" name="user_phone" class="form-control lottery-search-input" placeholder="手机号">

        </div>

        <div class="col-xs-6">
          <span class="lottery-search-span">所属排行: </span>
          <select class="selectpicker" name="date_type" style="width: 60%">
            <option value=0>全部</option>
            <option value=1>本日排行</option>
            <option value=2>本周排行</option>
            <option value=3>本月排行</option>
            <option value=4>总排行</option>
          </select>

        </div>

        <div class="col-xs-6">
          <span class="lottery-search-span">发货状态: </span>
          <select class="selectpicker" name="wuliu_status" style="width: 60%">
            <option value=2>全部</option>
            <option value=0>未发货</option>
            <option value=1>已发货</option>

          </select>

        </div>


        <button class="btn btn-default lottery-search-button" type="submit">查询</button>


      </div>


    </div>
  </form>


</div>