<div class="BuyRecord-box SearchRecord-box">
  <div class="icon-right VirMe-padding">
    <a href="<%= invite_history_h5_user_path(current_user) %>">
      <p>邀请记录</p>
    </a>
  </div>
  <div class="icon-right VirMe-padding">
    <a href="/h5/lotteries/buy_record">
      <p>夺宝记录</p>
    </a>
  </div>
  <!--<div class="icon-right VirMe-padding">-->
    <!--<a href="/h5/charge_orders/my_charge_record">-->
      <!--<p>充值记录</p>-->
    <!--</a>-->
  <!--</div>-->
  <div class="icon-right VirMe-padding">
    <a href="/h5/diamond_accounts/my_diamond_account_record">
      <p>钻币账单</p>
    </a>
  </div>
  <!--<div class="icon-right VirMe-padding">-->
    <!--<a href="/h5/charge_orders/my_micro_diamond_record">-->
      <!--<p>微钻账单</p>-->
    <!--</a>-->
  <!--</div>-->

</div>