<!--参与记录-->
<div class="Pro-recordBox">
  <div class="Pro-recordTiele">
    <p class="fl">所有参与记录</p>
    <p class="fr"><span><%=@lottery.published_at.strftime("%Y-%m-%d %H:%M:%S")%></span>开始</p>
  </div>
  <div class="Pro-null hide" >暂无记录</div>
  <ul class="Pro-record" id="lottery_order_items"></ul>
</div>

<script id="lottery_order_item" type="text/x-jsrender">
  <li>
    <div class="Pro-recordLeft">
      {^{if user.headimgurl && user.headimgurl.length > 0}}
        <img src="{{:user.headimgurl}}" />
      {{else}}
        <%=image_tag "h5/images/header2x.png" %>
      {{/if}}
    </div>
    <div class="Pro-recordRight">
      <p class="Pro-recordRightName">{{:~filter_string(user.nickname)}}</p>
      <p>IP:{{:request_ip}}</p>
      <p>参与了<span class="colorRed">{{:total_count}}</span>人次　<span>{{:~format(created_at)}}</span></p>
    </div>
  </li>
</script>

<script type="text/javascript">
$(function(){
    // 页数
    var page = 0;
    // dropload
    $('.Pro-recordBox').dropload({
      scrollArea : window,
      domDown: {domRefresh: ''},
      loadDownFn : function(me){
        $.ajax({
          type : "GET",  //提交方式
          url : "/h5/lottery_orders.json",//路径
          data : {page: page+1, q: {lottery_id_eq: <%= lottery.id%>, s: "id desc"}  },//数据，这里使用的是Json格式进行传输
          beforeSend: function(){
            me.lock();
          },
          success : function(result) {//返回数据根据结果进行相应的处理
            if(result.status == 200 && result.data.length > 0){
              var tmpl = $.templates("#lottery_order_item");
              var htmlOutput = tmpl.render(result.data);
              $("#lottery_order_items").append(htmlOutput);
              page += 1
              $.each(result.data, function (index, e) {
                if((Date.now() - Date.parse(e.created_at)) / 1000 < 5 * 60){
                  GoodsBubble(e.user.headimgurl, filter_String(e.user.nickname), e.total_count, parseInt((Date.now() - Date.parse(e.created_at)) / 1000),3)
                }
              })
              me.resetload();
              me.unlock();
            }
          },
          error: function(){
          }
        });
      },
      threshold : 150
    });
});
</script>
