<!-- 修改商品图片modal -->
<div class="modal fade" id="updatePicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel">修改图片</h4>
      </div>

      <div class="row">
        <div class="col-xs-8 col-md-4">

            <img  id="update_img_pre" >

        </div>
      </div>


      <form id="fileupload" action="/admins/images/update_img" method="post">
        <div class="modal-body">
          <input type="hidden"  class="form-control" name='id' id="update_id">
          <input type="hidden" id="flag" name="flag">
          <input  type="file" name="file" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" id="update_img_submit" class="btn btn-primary">确定</button>
        </div>
      </form>

    </div>
  </div>
</div>

