<!--用户协议弹框-->
<div class="law-box display" id="agreement_alert">
  <div class="law-content">
    <h3>“钻石大富翁”用户协议</h3>
    <div class="law-txt">
      <div>
        <h4>1、协议条款的接受</h4>
        <p>“钻石大富翁”用户协议是您（下称“用户”）与天津钻联科技有限公司（以下简称“钻联科技”）之间因参与“钻石大富翁”而确立的用户规则和条款。“钻石大富翁”是由天津钻联科技有限公司独立开发、运营的虚拟钻石在线交易及提供相关服务的平台（软件），拥有独立的知识产权。本服务条款和协议所称的用户是指完全理解并同意本协议所有内容、完成注册程序、愿意遵守“钻石大富翁”平台规则，并参与“钻石大富翁”平台提供的活动的主体。</p>
        <p>在您注册成为“钻石大富翁”用户以接受钻联科技的服务前，您已充分阅读、理解并接受本协议的全部内容以及“钻石大富翁”公布的各项服务规则(包括但不限于防沉迷系统及实名认证服务协议，钻联科技针对“钻石大富翁”所发布的公告、规则等)，<span class="txt-yellow">特别是其中与您的权益有或可能有重大关系的条款，及对钻联科技具有或可能具有免责或限制责任的条款。</span>一旦您使用或参加“钻石大富翁”平台，即表示您同意遵循本协议的所有约定以及“钻石大富翁”公布的相关服务规则等，并愿意受其约束。如果发生纠纷，您不得以未仔细阅读为由进行抗辩。</p>
      </div>
      <div>
        <h4>2、服务条款的变更和修改</h4>
        <p>钻联科技有权适时对服务条款进行修改；当用户使用“钻石大富翁”变更后的服务时，应接受钻联科技随时提供的与该服务相关的规则或说明，并且此规则或说明均构成本服务条款的一部分。用户如果不同意服务条款的修改，可以主动取消已经获得的服务；如果用户继续享用“钻石大富翁”网络平台的服务，则视为用户已经接受服务条款的修改。</p>
      </div>
      <div>
        <h4>3、服务说明</h4>
        <p>（1）“钻石大富翁”虚拟钻石交易平台系通过互联网向用户提供虚拟钻石在线交易，根据用户参与结果有机会获得相应奖品，并提供其他相关的服务。除非另有明确规定，增强或强化目前服务的任何新功能，包括新产品，均无条件地适用本服务条款。</p>
        <p>（2）钻联科技对网络服务不承担任何责任，即用户对网络服务的使用承担风险。钻联科技不保证服务一定会满足用户的使用要求，也不保证服务不会受中断，对服务的及时性、安全性、准确性也不作担保。</p>
        <p>（3） 为使用本服务，用户必须：</p>
        <p>a.自行配备进入互联网所必需的设备，包括计算机、手机或其他存取装置；</p>
        <p>b.自行支付与此服务有关的费用；</p>
        <p>（4）用户接受本服务须同意：</p>
        <p>a.注册“钻石大富翁”，并提供符合要求的个人资料；</p>
        <p>b.不断更新注册资料，以符合上述（4）.a的要求。</p>
        <p>c.若用户提供任何不符合要求的资料，或注册目的有违诚信，并为钻联科技所确知；或者钻联科技有合理理由怀疑前述资料系出于作弊或存在有损其他用户的行为，钻联科技有权暂停或终止用户的帐号，并拒绝该等用户现在或将来使用本服务的全部或一部分。</p>
      </div>
      <div>
        <h4>4、特别提示</h4>
        <p>（1）“钻石大富翁”的用户均可通过虚拟资金、钻石币等道具免费参与虚拟钻石投资交易、竞赛夺宝等活动，该平台内的虚拟资金、钻石币均为虚拟财产，用户可根据规则获取。钻联科技特别提示，“钻石大富翁”平台的虚拟资金、钻石币等虚拟财产均不与现实货币关联，不具有现实货币的交易、支付、担保、储藏、流通等职能，亦不能以现实货币进行度量其价值；用户使用虚拟资金、钻石币等道具在“钻石大富翁”平台的交易盈亏均基于虚拟交易发生，不视为现实之财富盈亏。用户运用虚拟资金、钻石币等道具均应当遵守由“钻石大富翁”运营方制定的规则，且盈亏自负；</p>
        <p>（2）“钻石大富翁”平台用户使用的道具，包括但不限于虚拟资金、钻石币，以及运用前述道具而额外赚取的道具等，其取得、运用、生效、作废等规则均由钻联科技制定，并可适时修改；</p>
        <p>（3）用户运用“钻石大富翁”平台免费提供的道具参与交易、竞赛而消耗、损耗之道具，均不视为用户的真正经济盈亏，钻联科技亦不对该种损耗承担任何责任；</p>
        <p>（4）钻联科技有权对用户参与平台虚拟交易的活动进行监督。如因任何非诚信原因导致夺宝竞赛无法继续按照预定规则并实现竞赛目标，不管该种非诚信原因系人为篡改、未授权介入、技术故障或任何其他非正当原因，钻联科技均有权单方决定对该对用户的不诚信行为进行整治，单方面废止用户的相关道具，并适时采取取消参赛资格、撤销用户、修订规则或停止竞赛等措施；</p>
        <p>（5）基于交易和活动行为的不可逆性，交易盈亏、道具损耗等活动均不具有可逆性，用户均应当诚信参与活动，禁止反言；</p>
        <p>（6）用户通过参与钻石虚拟交易活动可以赢取奖品，但用户中奖后应当在72小时内确认领取并支付奖品邮寄费用，逾期确认或拒绝支付邮寄费用视为放弃该等奖品。</p>
      </div>
      <div>
        <h4>5、禁止行为</h4>
        <p>用户在使用钻联科技“钻石大富翁”产品和接受服务的过程中，用户：</p>
        <p>（1）不得为任何非法目的而使用“钻石大富翁”系统;</p>
        <p>（2）不得对包括但不仅限于“钻石大富翁”及提供的软件进行修改，还原工程(ReverseEngineering)，译码(Decompile)，反向组译(Disassemble)、复制(copy)或散布(distribute)，包括但不限于修改本软件所使用的任何专有通讯协议、对动态随机存取内存(RAM)中资料进行修改或锁定;</p>
        <p>（3）不得采取任何可能影响“钻石大富翁”的非正常使用行为(包括但不限于损害、攻击服务器或使服务器过度负荷等);</p>
        <p>（4）不得使用任何外挂程序修改程序;</p>
        <p>外挂程序是指独立于本平台软件之外的，能够在本软件运行的同时影响软件操作的所有程序，包括但不限于模拟用户操作、改变操作环境、修改数据等一切类型。(如国家有关法律、法规及政府主管部门的规章或规范性文件规定的外挂定义与本协议有冲突，则以法律、法规、部门规章或规范性文件规定的为准)</p>
        <p>（5）不得通过第三方软件或在第三方软件的辅助下参与“钻石大富翁”钻石虚拟交易、竞赛夺宝等活动;</p>
        <p>（6）不得采取任何破坏“钻石大富翁”规则和违反公平性的行为;</p>
        <p>为避免破坏“钻石大富翁”的公平性或平衡性，用户同意并理解其只能通过的产品和服务进行正常的娱乐互动、体验钻石虚拟交易并夺取奖品。除上述情形之外的虚拟物品交易或其他任何牟利情形将被视为牟取不正当利益，包括但不限于用户：</p>
        <p>①注册多个用户账号和/或角色ID，以盈利为目的的参与“钻石大富翁”，使用钻联科技产品和服务;</p>
        <p>②将参与“钻石大富翁”获取的道具等虚拟物品出售获利;</p>
        <p>③利用不同服务器的虚拟物品价值差异，在不同服务器买卖虚拟物品获利（如有）;</p>
        <p>④充当“钻石大富翁”账号、虚拟物品交易中介收取费用获利;</p>
        <p>⑤交易用户账号或虚拟物品获利;</p>
        <p>⑥利用“钻石大富翁”组织或参与赌博、实施或参与实施盗窃他人财产或虚拟物品等涉嫌违法犯罪行为的;</p>
        <p>⑦其他任何不以正常的娱乐需要为目的的牟利行为。</p>
        <p>（7）不得使用异常的方法登录平台(包括但不限于使用非钻联科技开发、授权或认可的第三方软件、系统登录平台)、使用网络加速器等外挂软件或机器人程序等恶意破坏服务设施、扰乱正常服务秩序的行为;</p>
        <p>（8）不得制作、传播或使用外挂、封包、加速软件及其它各种作弊程序，或组织、教唆他人使用此类软件程序，或销售此类软件程序而为个人或组织谋取经济利益;</p>
        <p>（9）不得使用任何方式或方法，试图攻击提供平台服务的相关服务器、路由器、交换机以及其他设备，以达到非法获得或修改未经授权的数据资料、影响正常平台服务，以及其他危害性目的的任何行为;</p>
        <p>（10）不得利用平台可能存在的技术缺陷或漏洞而以各种形式为自己及他人牟利(包括但不限于复制“钻石大富翁”的虚拟物品等)或者从事其他不正当行为。</p>
        <p>（11）未经“钻石大富翁”运营方、权利人书面许可，不得使用运营方、权利人任何知识产权，来创造或提供相同或类似的网络服务，如仿真服务器、私人服务器等;</p>
        <p>（12）不得利用“钻石大富翁”系统进行任何可能对互联网的正常运转造成不利影响或可能干扰他人以正常方式使用钻联科技所提供的产品和网络服务的行为;</p>
        <p>（13）不得利用“钻石大富翁”系统传输任何骚扰性的、中伤他人的、辱骂性的、恐吓性的、庸俗淫秽的、欺诈性的或其他任何非法的信息资料;</p>
        <p>（14）不得利用“钻石大富翁”系统进行其他不利于钻联科技的行为;</p>
        <p>（15）不得使用从非由钻联科技指定的渠道所获得的资料或信息;</p>
        <p>（16）就钻联科技及合作商业伙伴的服务、产品、业务咨询应采取钻联科技指定的客户服务渠道和其他专门沟通渠道，不得在公众场合发布有关钻联科技及其相关服务的负面宣传;</p>
        <p>（17）不得以违反“钻石大富翁”使用规则等非正常方式获得虚拟物品(包括但不限于虚拟资金、虚拟道具和装备等);</p>
        <p>（18）不得利用钻联科技所提供的产品和服务在现实中获得盈利;</p>
      </div>
      <div>
        <h4>6、用户隐私权制度</h4>
        <p>当用户注册“钻石大富翁”时，用户须提供个人信息。在此提供的信息以及虚拟交易行为等信息均会纳入数据库之中。</p>
        <p>钻联科技收集个人信息的目的是为用户提供尽可能多的个人化网上服务以及为广告商提供一个方便的途径来接触到适合的用户，并且可以发送具有相关性的内容和广告。在此过程中，除“钻石大富翁”运营方外的其他第三方绝对不会接触到用户的个人信息。钻联科技不会在未经用户合法授权时，公开、编辑或透露用户个人信息及保存在“钻石大富翁”中的非公开内容，除非有下列情况：</p>
        <p>a.有关法律规定或“钻石大富翁”用户协议约定；</p>
        <p>b.在紧急情况下，为维护用户及公众的权益，按照公权力机关要求；</p>
        <p>c. 其他需要公开、编辑或透露个人信息的情况。</p>
      </div>
      <div>
        <h4>7、用户帐号、密码和安全</h4>
        <p>（1）用户一旦注册成功，便成为“钻石大富翁”的合法用户，将得到一个密码和帐号。用户有义务保证密码和帐号的安全。用户对利用该密码和帐号所进行的一切活动负全部责任；因此所衍生的任何损失或损害，钻联科技无法也不负担任何责任。</p>
        <p>（2）用户的密码和帐号遭到未授权的使用或发生其他任何安全问题，用户可以立即通知钻联科技，并且用户在每次结束交易活动时，应结束帐号使用，否则用户可能得不到钻联科技的安全保护。</p>
      </div>
      <div>
        <h4>8、服务的修改和终止</h4>
        <p>钻联科技有权在任何时候，暂时或永久地修改或终止“钻石大富翁”（或任何一部分），无论是否通知。钻联科技对本服务的修改或终止对用户和任何第三人不承担任何责任。钻联科技有权基于任何理由，终止用户的帐号、密码或使用本服务，或删除、转移用户存储、发布在本服务的内容，钻联科技采取上述行为均不需通知，并且对用户和任何第三人不承担任何责任。</p>
      </div>
      <div>
        <h4>9、通知</h4>
        <p>钻联科技向用户发出的通知，采用电子邮件或页面公告或常规信件的形式。服务条款的修改或其他事项变更时，钻联科技将会以上述形式进行通知。</p>
      </div>
      <div>
        <h4>10、服务条款的组成</h4>
        <p>本服务条款规范用户使用本服务，将取代用户先前与钻联科技签署的任何协议。本服务条款和“钻石大富翁”的其他服务条款、活动规则构成完整的协议。</p>
      </div>
      <div>
        <h4>11、知识产权</h4>
        <p>钻联科技提供的与“钻石大富翁”产品和服务有关的全部信息、资料、技术(包括相关的软件)的著作权、专利权、商标权、其他知识产权、所有权或其他权利，均为钻联科技或其权利人所有。权利人指依据法律法规相关规定对“钻石大富翁”上提供的有关的信息、资料、技术(包括软件程序等)依法享有著作权、专利权、商标、商业秘密、其他知识产权、所有权或其他权利的法人、公民或其他组织。<span class="txt-yellow">除非事先获得钻联科技或其权利人的合法授权，用户不得对任何该信息、资料、软件、产品和服务进行修改、拷贝、散布、传送、展示、执行、复制、发行、授权、制作衍生著作、移转或销售。</span>如用户未遵守本条款的上述规定，在法律所允许的最大限度内，且在不损害其他权利的情况下，钻联科技可立即终止向用户提供产品和服务，用户必须销毁任何已经获得的上述信息、资料、软件或产品。</p>
        <p>钻联科技拥有用户在使用“钻石大富翁”服务过程中所产生的任何数据信息(包括但不限于账号资料、交易数据及系统衍生数据等)的所有权。<span class="txt-yellow">用户仅有权依据用户协议及有关平台规则使用上述数据和信息。</span></p>
      </div>
      <div>
        <h4>12、法律的适用和管辖</h4>
        <p>本服务条款的生效、履行、解释及争议的解决均适用中华人民共和国法律，发生的争议提交钻联科技住所地（天津市经济技术开发区）有管辖权的人民法院诉讼解决。本服务条款因与中华人民共和国现行法律相抵触而导致部分无效，不影响其他部分的效力。</p>
      </div>
    </div>
    <div class="btn">
      <button class="bg-red txt-white i_agree" data_agreed='0'>我同意</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.i_agree').on('click', function(){
      $(this).attr('data_agreed', 1);
      var agreed = $(this).attr('data_agreed');
      if(agreed == 1){
        $.ajax({
          type: 'put',
          url: "/h5/users/<%= current_user.id %>",
          data: {'id': <%= current_user.id %>, "user[accept_agreement]": agreed, 'action_type': 'agreement' },
          success: function(datas) {
            if(datas['status'] == 200){
              $('.law-box').hide();
              // Rankingalert('获得30钻币，您可进行3人次夺宝<br>',"/h5/lotteries/",'立即夺宝');
              alertDb('点击【立即夺宝】，人满开奖！<br>&nbsp;想充钱，没门儿，真正公平！', '立即夺宝');
              // setTimeout(function(){
              //   window.location.reload();
              // },1000);
            }else{
              alertTx('网络错误, 请重试');
            }
          },
          error: function(XMLHttpResponse) {
            alertTx("网络错误, 请重试");
          }
        })
      }

    })
  })
</script>
